USE [master]
GO
/****** Object:  Database [PontoEletronico]    Script Date: 24/06/2026 23:02:29 ******/
CREATE DATABASE [PontoEletronico]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PontoEletronico', FILENAME = N'C:\SQLData\PontoEletronico.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PontoEletronico_log', FILENAME = N'C:\SQLData\PontoEletronico_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PontoEletronico].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PontoEletronico]
GO
/****** Object:  Table [dbo].[Funcionario]    Script Date: 24/06/2026 23:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionario](
	[CodFuncionario] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[CPF] [nvarchar](11) NOT NULL,
	[Setor] [nvarchar](50) NOT NULL,
	[Cargo] [nvarchar](50) NOT NULL,
	[DataAdmissao] [date] NOT NULL,
	[Salario] [decimal](18, 2) NOT NULL,
	[CodTurno] [int] NOT NULL,
	[Foto] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CodFuncionario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Justificativa]    Script Date: 24/06/2026 23:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Justificativa](
	[CodJustificativa] [int] IDENTITY(1,1) NOT NULL,
	[CodFuncionario] [int] NOT NULL,
	[DataJustificativa] [date] NOT NULL,
	[Motivo] [nvarchar](max) NOT NULL,
	[TipoJustificativa] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodJustificativa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 24/06/2026 23:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[cod_usuario] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Senha] [nvarchar](255) NOT NULL,
	[Cod_Funcionario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ponto]    Script Date: 24/06/2026 23:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ponto](
	[CodPonto] [int] IDENTITY(1,1) NOT NULL,
	[CodFuncionario] [int] NOT NULL,
	[DataRegistro] [date] NOT NULL,
	[HoraEntrada] [time](7) NOT NULL,
	[HoraSaida] [time](7) NULL,
	[TotalHorasTrabalhadas] [float] NOT NULL,
	[TotalHorasExtras] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodPonto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Relatorio]    Script Date: 24/06/2026 23:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relatorio](
	[CodRelatorio] [int] IDENTITY(1,1) NOT NULL,
	[TipoRelatorio] [nvarchar](50) NOT NULL,
	[DataGeracao] [datetime] NULL,
	[Detalhes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CodRelatorio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turno]    Script Date: 24/06/2026 23:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turno](
	[CodTurno] [int] IDENTITY(1,1) NOT NULL,
	[DescricaoTurno] [nvarchar](100) NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraTermino] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodTurno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Relatorio] ADD  DEFAULT (getdate()) FOR [DataGeracao]
GO
ALTER TABLE [dbo].[Funcionario]  WITH CHECK ADD FOREIGN KEY([CodTurno])
REFERENCES [dbo].[Turno] ([CodTurno])
GO
ALTER TABLE [dbo].[Justificativa]  WITH CHECK ADD FOREIGN KEY([CodFuncionario])
REFERENCES [dbo].[Funcionario] ([CodFuncionario])
GO
ALTER TABLE [dbo].[Login]  WITH CHECK ADD FOREIGN KEY([Cod_Funcionario])
REFERENCES [dbo].[Funcionario] ([CodFuncionario])
GO
ALTER TABLE [dbo].[Ponto]  WITH CHECK ADD FOREIGN KEY([CodFuncionario])
REFERENCES [dbo].[Funcionario] ([CodFuncionario])
GO
USE [master]
GO
